---
- name: Open port 80
  shell: iptables -I INPUT 1 -p tcp --dport 80 -j ACCEPT

- name: Save Iptables
  shell: /etc/init.d/iptables save

- name: Install httpd
  yum: name=httpd state=present

- name: Create Folder
  command: mkdir -p /etc/httpd/vhost.d/

- name: Copy httpd configuration for httpd
  template: src=httpd.conf dest=/etc/httpd/conf/httpd.conf
  
- name: Copy httpd configuration for domaini whithout varnish
  template: src=vhost.conf dest=/etc/httpd/vhost.d/{{ server_hostname }}.conf
  when: varnish_install != 'install'

- name: Copy httpd configuration for ports without varnish
  template: src=ports.conf dest=/etc/httpd/ports.conf
  notify: restart httpd
  when: varnish_install != 'install'

- name: Copy httpd configuration for domain with varnish
  template: src=vhost_varnish.conf dest=/etc/httpd/vhost.d/{{ server_hostname }}.conf
  when: varnish_install == 'install'

- name: Copy httpd configuration for ports with varnish
  template: src=ports_varnish.conf dest=/etc/httpd/ports.conf
  notify: restart httpd
  when: varnish_install == 'install'

- name: httpd Start initial
  service: name=httpd state=started enabled=yes

- name: Create Folder
  command: mkdir -p /var/www/vhosts/{{ server_hostname }}/
  when: magento_install != 'install'

- name: Add user "web_user"
  user: name={{ web_user }} group=apache home=/var/www/vhosts/{{ server_hostname }}
  when: magento_install != 'install'

- name: Create database
  mysql_db: name={{ magento_db_name }} state=present
  when: magento_install != 'install'

- name: Create database user
  mysql_user: name={{ magento_db_user }} password={{ magento_db_password }} priv={{ magento_db_name }}.*:ALL host='localhost' state=present
  when: magento_install != 'install'

- name: Change ownership of folder to user created and group apache
  file: path=/var/www/vhosts/{{ server_hostname }}/ owner={{ web_user }} group=apache state=directory recurse=yes
  when: magento_install != 'install'

- name: restart iptables
  service: name=iptables state=restarted
  when: magento_install != 'install'

- name: restart httpd
  service: name=httpd state=restarted
  when: magento_install != 'install'